body {
  margin: 0;
}


.tabla-productos {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr; /* móvil por defecto */
}

@media (min-width: 768px) {
  .tabla-productos {
    grid-template-columns: 1fr 1fr; /* tablets: 2 por fila */
  }
}

@media (min-width: 1024px) {
  .tabla-productos {
    grid-template-columns: 1fr 1fr 1fr; /* desktop: 3 por fila */
  }
}

@media (min-width: 1440px) {
  .tabla-productos {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* desktop grande: 4 por fila */
  }
}


/* Tablet: filas de 2 */
@media (max-width: 750px) {
  .galeria-imagenes {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2% !important;
  }

  .galeria-imagenes .big {
    grid-column: span 2 !important;
    min-height: 250px !important;
  }

  .galeria-imagenes .small {
    grid-column: span 1 !important;
    min-height: 70px !important;
    min-width: 70px !important;
  }
}




